<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home FABA FJB

    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .logo {
            height: 120px !important;
            width: 120px !important;
            background-color: orange;
            border-radius: 3px;
        }
    </style>
</head>

<body>
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <!-- LOGO -->
        <div class="d-flex justify-content-center mb-3">
            <div class="logo d-flex align-items-center justify-content-center">
                <img src="#" alt="LOGO" class="#">
            </div>
        </div>
        <!-- BOX -->
        <div class="col-lg-6 col-md-8 col-12 bg-success border-2">
            <div class="d-flex justify-content-center bg-warning" style="height: 100%;">
                <div class="col-6 p-lg-4 p-md-2 p-sm-0">
                    <!-- TITLE -->
                    <h3 class="text-center">Log In</h3>
                    <!-- EMAIL -->
                    <div class="col-12 mb-3">
                        <label for="nid" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" placeholder="email">
                    </div>
                    <!-- NID -->
                    <div class="col-12 mb-3">
                        <label for="nid" class="form-label">NID</label>
                        <input type="text" class="form-control" id="nid" placeholder="NID">
                    </div>
                    <!-- PASSWORD -->
                    <div class="col-12 mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="password">
                    </div>
                    <!-- CONFIRM PASSWORD -->
                    <label for="password_comfirmation" class="form-label">Konfirmasi Password</label>
                    <input type="password_comfirmation" class="form-control" id="password_comfirmation"
                        placeholder="password comfirmation">
                    <!-- <span>Pastikan kedua password sama</span> -->
                    <div class="d-grid gap-2 mt-3">
                        <a class="btn bg-primary text-white" href="login.html">Daftar</a>
                    </div>
                    <!-- LABEL TERBAWAH -->
                    <div class="mt-3">
                        <label class="col-12" for="#">Sudah mempunyai akun ? <a href="#"> Log in</a></label>
                    </div>
                </div>
            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>

</html>